@import url("https://fonts.googleapis.com/css?family=Inter:700|Inter:500");
@import "tailwindcss";

@layer base {
  body {
    font-family: "Inter", monospace;
    font-weight: 500;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Inter", monospace;
    font-weight: 700;
  }

  html {
    font-size: 100%;
  }

  h1 {
    font-size: 2.5rem; /* 40px */
  }

  h2 {
    font-size: 2rem; /* 32px */
  }

  h3 {
    font-size: 1.75rem; /* 28px */
  }

  h4 {
    font-size: 1.5rem; /* 24px */
  }

  h5 {
    font-size: 1.25rem; /* 20px */
  }

  h6 {
    font-size: 1rem; /* 16px */
  }

  small {
    font-size: 0.75rem; /* 12px */
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 3.158rem;
  }
  h2 {
    font-size: 2.369rem;
  }
  h3 {
    font-size: 1.777rem;
  }
  h4 {
    font-size: 1.333rem;
  }
  h5 {
    font-size: 1.111rem;
  }
  small {
    font-size: 0.7rem;
  }
}
